
.box{
    width: 20rem;
    
    /* background-color: aqua; */
    background-image: linear-gradient(to right,
    hsl(236,72%,79%), 
    hsl(237,63%,64%));
    border-radius: 2rem;
    align-items: center;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 25px 50px -12px;
    padding: 2%;
}

.name{
    margin-top: 1rem;
    padding: 00.1rem;
}

.btn{
  
    margin-top: 1rem;
    margin-bottom: 1rem;
}
.button{

    height: 2rem;
    width: 4rem;
    font-weight: bolder;
    border-radius: 1rem;
    margin-bottom: 1rem;
    margin-left: 1rem;
    background-color: blueviolet;
}
form{
    padding: 2%;
}