
.profile-box{
    display: flex;
    flex-direction: row;
    width: 60vh;
    background-color: rgb(235, 225, 225);
    margin-left: 1rem;
    box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
    border-radius: 1rem;
    
    /* align-items: center; */
}
.flex{
    display:flex
}
.searchbox{
    display: flex;
    align-items: center;
    background-color: gray;
    height: 20px;
    border-radius: 8px;
    padding: 5px
}
.searchbox .icon {
    width: 20px;
}
.searchbox input{
border: none;
outline: none;
}
.search-cont{
    
    justify-content: center;
    align-items: center;
}
.search {
    background-color:lavenderblush ;
    padding-left: 20px;
    padding-right: 20px;
    border-radius: 8px;
    margin-right: 3rem;
    justify-content: center;
    align-items: center;
}
.footer{
    margin-top: .5rem;
    justify-content: center;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}
.pc{
    justify-content: center;
    align-items: center;
    margin-right: 1rem;
}
.img-cont{
    width: 30%;
    margin: 1rem;
}
img{
    width: 100%;
    object-fit: contain;
}
.profile-box:hover{
    transform: scale(1.02);
    opacity: 1;
}
.profile-container{
    display: flex;
    flex-direction: row;
 
}
    .appointment-time{
        display: flex;
        flex-direction: row;
        
    }
    .detail{
        margin-left: .5rem;
    }
.icon{
    width: 30px;
    object-fit: contain;
    /* padding-right: 20px;
    padding: 20px; */
    cursor: pointer;;
    border-radius: 60px;
}

.footer .icon{
    margin: 1rem;
}


.dicount-container{
    display: flex;
    flex-direction: column;
    margin-left: 1rem;
 
}
.discount-box{
    display: flex;
    flex-direction: column;
    margin-left: 1rem;
    width: 40vh;
    background-color: coral;
    padding: 1rem;
    border-radius: 1rem;
}
.discount-box:hover{
    transform: scale(1.08);
    opacity: 1;
}

.discount-percent{
    display: flex;
    justify-content: space-between;   
}
.discount-img{
    width: 60px;
    object-fit: contain;
    border-radius: 1rem;
    
}
.discount-row{
    display: flex;
    flex-direction: row;
}
.bck{
    background-color: black;
    padding: .3rem;
    border-radius: .5rem;
    font-size: smaller;
  
}
.discount-color{
    color: white;
}


.medicine-box{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 30vh;
    background-image: linear-gradient(to right,
    hsl(236,72%,79%), 
    hsl(237,63%,64%));
    height: 20rem;
    margin-left: 1rem;
    margin-top: 1rem;
}
.medicine-container{
    display: flex;
    flex-wrap: wrap;
}

.Laboratories-box{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 30vh;
    background-image: linear-gradient(to right,
    hsl(236,72%,79%), 
    hsl(237,63%,64%));
    height: 20rem;
    margin-left: 1rem;
    margin-top: 1rem;
}
.Laboratories-container{
    display: flex;
    flex-wrap: wrap;
  
}


.search-img{
    width: 60px;
    object-fit: contain;
    border-radius: 1rem;
}

.search{
    display: flex;
    flex-wrap: wrap;

}


.icon-img{
    width: 30px;
    left: 0;
    object-fit: contain;
    cursor: pointer;
    border-radius: 60px;
    
}
.nav{
    display: flex;
    justify-content: space-between;
    
    align-items: center;

    width: 100%;
}

.icon{
    width: 30px;
    left: 0;
    object-fit: contain;
    cursor: pointer;
    
}
.servic-box{
    display: flex;
    flex-direction: column;
    margin: .5rem;
    justify-content: center;
    align-items: center;
    background-color: rgb(235, 225, 225);
    width: 30vh;
    padding: 1rem;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
    border-radius: 1rem;
    transition: transform 450ms;
}
.servic-box:hover{
    transform: scale(1.08);
    opacity: 1;
}

.icon-img{
    width: 30px;
    left: 0;
    object-fit: contain;
    cursor: pointer;
    border-radius: 60px;
    
}
.nav{
    display: flex;
    justify-content: space-between;
    
    align-items: center;

    width: 100%;
}